.button:link,
.button:visited {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 5px;
}

#studentform,
#studentdetailsdiv,
#mentordiv {
  display: none;
}
.heading {
  text-align: center;
  margin: 15px;
}
